<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>  
    <rewrite>  
        <rules>  
          <rule name="Redirect requests to default azurewebsites domain" stopProcessing="true">
            <match url=".*" />  
            <conditions>
              <add input="{HTTP_HOST}" pattern="^pyright-playground.azurewebsites.net$" />
            </conditions>
            <action type="Redirect" url="https://pyright-play.net/{R:0}" appendQueryString="true" redirectType="Permanent"/>  
          </rule>  
        </rules>  
    </rewrite>  
  </system.webServer>  
</configuration>
